tenancy_ocid     = "ocid1.tenancy.oc1.ToDo"
user_ocid        = "ocid1.user.oc1.ToDo"
private_key_path = "/home/oracle/.oci/oci_api_key.pem"
fingerprint      = "ToDo"
region           = "ap-chuncheon-1"

compartment_ocid        = "ocid1.compartment.ToDo"
availablity_domain_name = "bxtG:AP-CHUNCHEON-1-AD-1"

redis_deployment_type = "Master Slave" # ["Standalone", "Master Slave", "Redis Cluster"]
redis_prefix = "myredis"
redis_server = "ToDo"
redis_password = "ToDo"
grafana_password = "ToDo"
redis_version = "5.0.9"
redis_config_is_use_rdb = true
redis_config_is_use_aof = false
is_enable_backup = true
s3_bucket_name = "ToDo"
s3_access_key = "ToDo"
s3_secret_key = "ToDo"
is_use_prometheus = true
is_use_grafana = true

virtual_network_redis_vcn_id = "ToDO"
subnet_redis_subnet_id = "ToDO"
